@plugin "daisyui/theme" {
  name: "vinyl-cut";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(20.768% 0.039 265.754);
  --color-base-200: oklch(19.314% 0.037 265.754);
  --color-base-300: oklch(17.86% 0.034 265.754);
  --color-base-content: rgb(201 203 208);
  --color-primary: oklch(90% 0.076 70.697);
  --color-primary-content: oklch(12% 0.042 264.695);
  --color-secondary: oklch(55% 0.09 45);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(75% 0.183 55.934);
  --color-accent-content: oklch(12% 0.042 264.695);
  --color-neutral: oklch(27.949% 0.036 260.03);
  --color-neutral-content: oklch(85.589% 0.007 260.03);
  --color-info: oklch(68.455% 0.148 237.251);
  --color-info-content: oklch(12% 0.042 264.695);
  --color-success: oklch(72% 0.15 142);
  --color-success-content: oklch(12% 0.042 264.695);
  --color-warning: oklch(83.242% 0.139 82.95);
  --color-warning-content: oklch(12% 0.042 264.695);
  --color-error: oklch(52% 0.16 25);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.25rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
